* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    color: #080808;
    scrollbar-width: none;
    list-style: none;
    text-decoration: none;
}
html, body {
    background: #d6d6d6;
    color: #080808;
    transition: .3s;
}
main {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}
