.socra {
    background: #d6d6d6 url(../img/socrates.png) center top no-repeat;
    background-size: cover;
}
.sinope {
    background: #d6d6d6 url(../img/sinope.png) center no-repeat;
    background-size: cover;
}
.heraclito {
    background: #d6d6d6 url(../img/Heraclito.png) center no-repeat;
    background-size: cover;
}
.maquiavel {
    background: #d6d6d6 url(../img/Maquiavel.png) center top no-repeat;
    background-size: cover;
}
.nietzsche {
    background: #d6d6d6 url(../img/Nietzsche.png) center no-repeat;
    background-size: cover;
}
.Schopenhauer {
    background: #d6d6d6 url(../img/Schopenhauer.png) center top no-repeat;
    background-size: cover;
}
.Platão {
    background: #d6d6d6 url(../img/platao.png) center no-repeat;
    background-size: cover;
}
.Kierkegaard {
    background: #d6d6d6 url(../img/Kierkegaard.png) center no-repeat;
    background-size: cover;
}
.Tales {
    background: #d6d6d6 url(../img/tales.png) center no-repeat;
    background-size: cover;
}
.Descartes {
    background: #d6d6d6 url(../img/Descartes.png) center top no-repeat;
    background-size: cover;
}
.Wittgenstein {
    background: #d6d6d6 url(../img/Wittgenstein.png) center top no-repeat;
    background-size: cover;
}
.Confucio {
    background: #d6d6d6 url(../img/Confucius.png) center no-repeat;
    background-size: cover;
}
.Spinoza {
    background: #d6d6d6 url(../img/spinoza.png) center no-repeat;
    background-size: cover;
}
.kant {
    background: #d6d6d6 url(../img/kant.png) center no-repeat;
    background-size: cover;
}
.montesquieu {
    background: #d6d6d6 url(../img/Montesquieu.png) center top no-repeat;
    background-size: cover;
}
.sartre {
    background: #d6d6d6 url(../img/Jean-Paul-Sartre.png) center center no-repeat;
    background-size: cover;
}
.camus {
    background: #d6d6d6 url(../img/albert-camus.png) center center no-repeat;
    background-size: cover;
}